/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/*  */
/*  */

.profile,
.siteButtons,
.announcementsContainer,
.trendingContainer {
  padding-right: 100px;
}

.header,
.projectContainer {
  padding-left: 80px;
}

.profilePic,
.profile p,
.searchBar,
.headerIcon {
  align-self: center;
}

.hovered {
  cursor: pointer;
}

.content {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(250px, 12%) 1fr;
  grid-template-rows: 200px auto;
}

/* Sidebar */
.sideBar,
.header {
  padding-top: 20px;
}

.sideBar {
  grid-row: 1/3;
  background-color: aqua;
  font-size: 1.5rem;
}
.homeIcon {
  width: 50px;
}

.icons {
  width: 20px;
}

.sideBar ul {
  list-style: none;
}

.sideBar ul > li {
  display: flex;
  gap: 10px;
}

.home {
  padding: 0px 0px 30px 30px;
  display: flex;
  gap: 5px;
}

.home h3 {
  align-self: center;
}

.navSpacer {
  padding: 15px;
}

/* header */
.header {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 40% 60%;
}

.headerIcon {
  width: 30px;
}

.profile {
  display: flex;
  justify-content: end;
  gap: 40px;
  font-size: 20px;
}

.profilePic {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.bold {
  font-weight: bold;
}

.user {
  display: grid;
  grid-template-columns: 80px auto;
  align-items: center;
}

.user img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.searchBar {
  display: flex;
  gap: 5px;
}

.searchBar input {
  border-radius: 100px;
  background-color: rgb(236, 242, 249);
  height: 35px;
  width: max(200px, 700px);
}

.siteButtons {
  display: grid;
  grid-template-columns: repeat(3, 110px);
  gap: 15px;
  align-items: center;
  justify-items: end;
  justify-content: end;
}

.siteButtons button {
  border-radius: 100px;
  width: 100px;
  height: 40px;
  background-color: aqua;
}

/* Main Content */
.mainContent {
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  background-color: rgb(236, 242, 249);
}

.projectContainer {
  grid-row: 1/3;
}

.trendingContainer {
  grid-column: 2/3;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 200px);
  column-gap: 10px;
  row-gap: 30px;
}

.cards {
  width: 78%;
  background-color: white;
  border-radius: 10px;
}

.info {
  padding: 20px;
}
